{% extends 'base.html'%}

{% load static %}

{% block title %}
    Product
{% endblock %}

{% block content %}
    <div class="container py-5">
        <div class="row mt-5">
            <div class="col-10 mx-auto col-md-6 my-3">
                <img src="{% static 'images/iphone 12 pro max.jpg' %}">
            </div>
        </div>
    </div>
    <div class="col-10 mx-auto col-md-6 my-3">
        <div>
            <h1 class="product_title">iPhone 12</h1>
            <h5 class="text-info font-italic mb-4">
                92 250 рублей
            </h5>
            <p class="product_desc">Описание продукта</p>
            <p class="text-justify product_text">
Новая эра. Новые скорости.
A14 Bionic, самый быстрый процессор iPhone. И система камер Pro, которая гораздо лучше работает при слабом освещении, — а на iPhone 12 Pro Max ещё лучше.

Дизайн на грани фантастики.
Дисплей Super Retina XDR занимает всю переднюю панель — от края до края. А благодаря Ceramic Shield риск повреждений дисплея при падении снижается в четыре раза.

Давайте ускоримся.
Phone 12 Pro способен передавать данные по сетям LTE со скоростью до 2 Гбит/с. Это означает, что можно быстрее скачивать и отправлять большие файлы и фотографии, а качество стриминга повысится. При этом поддерживаются самые разные диапазоны LTE, поэтому более высокая скорость доступна вам во многих городах и странах по всему миру.

Самый быстрый процессор iPhone.
Это первый процессор iPhone с применением 5‑нанометровой технологии. Более быстрый, более мощный, более эффективный.

Дополненная реальность со скоростью света.
Сканер LiDAR за считаные наносекунды создаёт точные структурные карты, чтобы объекты дополненной реальности мгновенно заняли своё место.

Новый день для Ночного режима.
Снимать в Ночном режиме теперь можно и на широкоугольную, и на сверхширокоугольную камеру. И он стал ещё лучше передавать естественные цвета при слабом освещении. Кроме того, новая широкоугольная камера улавливает на 27% больше света.iPhone 12 Pro Max может ещё больше

В 60 раз больше цветов. Неплохо.
Снимайте видео в потрясающем 10-битном HDR‑формате, который обеспечивает более реалистичное изображение. Видео в стандарте Dolby Vision можно также монтировать, смотреть и пересылать другим.</p>
        <p class="text-justify product_text">
        </p>
        </div>

    </div>
{% endblock %}